body
    {
        background-color:rgb(176, 174, 172);
    }
p
    {
        color:rgb(0, 0, 0);
        font-family :Georgia, 'Times New Roman', Times, serif;
        font-size: 15pt;
        border: 2px solid darklategray;
        padding: 30px
    }
h1
    {
        color: rgb(31, 31, 30);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
a:link 
    {
        color: rgb(113, 68, 68);
        background-color:rgb(192, 166, 166);
        text-decoration: none;
        padding: 15px;
        text-align: center;
        display:inline-block;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
a:visited
    {
        color:rgb(222, 189, 214)  ;
        background-color:rgb(175, 204, 224);
        text-decoration: none;
        padding: 15px;
        text-align: center;
        display:inline-block;
        font-family:Georgia, 'Times New Roman', Times, serif
    }
a:hover 
    {
        color:rosybrown;
        background-color:rgb(196, 187, 203);
        text-decoration:overline;
    }
a:active
    {
        color:rgb(196, 188, 211);
        background-color:rosybrown;
        text-decoration:overline;
    }